[user]
    name = ichichou
    email = flower.sun.rain.silver@gmail.com

[core]
    editor = vim
    pager = less -cm
    quotepath = false

[color]
    ui = true

[alias]
    st = status
    df = diff
    cm = commit

