[user]
    name = ichichou
    email = 35998815+ichichou@users.noreply.github.com

[core]
    editor = vim
    pager = less -MS
    quotepath = false
    ignorecase = false

[init]
    defaultBranch = main

[commit]
    verbose = true

[diff]
    algorithm = histogram
    compactionHeuristic = true
    tool = vimdiff

[fetch]
    prune = true

[merge]
    ff = false
    tool = vimdiff

[pull]
    ff = only

[pager]
    log = diff-highlight | less
    show = diff-highlight | less
    diff = diff-highlight | less

[interactive]
    diffFilter = diff-highlight

[filter "lfs"]
    clean = git-lfs clean -- %f
    smudge = git-lfs smudge -- %f
    process = git-lfs filter-process
    required = true

[alias]
    a = add
    aa = add --all
    br = branch
    bra = branch --all
    brd = branch --delete
    cl = clone
    cm = commit
    cma = commit --all
    cmam = commit --all --message
    cmm = commit --message
    co = checkout
    cob = checkout -b
    di = diff
    dit = difftool
    fe = fetch
    fep = fetch --prune
    lg = log
    lgf = log --graph --oneline --decorate --follow
    lgg = log --graph --oneline --decorate
    lgp = log --patch
    mg = merge
    mgt = mergetool
    mv = mv --verbose
    pl = pull
    ps = push
    psd = push --delete
    psu = push --set-upstream
    rl = reflog
    s = status --short --branch
    sh = show
    ss = status
