[user]
    name = ichichou
    email = flower.sun.rain.silver@gmail.com

[core]
    editor = vim
    pager = less -cm
    quotepath = false
    excludesfile = ~/.gitignore_global

[color]
    ui = auto

[alias]
    st = status
    df = diff
    di = diff
    cm = commit
    lg = log
    ad = add
    ph = push
    pl = pull

